<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <title>详情</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body style="background-color: #fff;">
<div class="detail-page" id="detail-page">
    <div class="detail-page-header">
        <span class="title">产品详情</span>
        <div class="back-box"><a href="javascript:history.go(-1)"><img src="../images/back.png" alt=""></a></div>
    </div>
    <script type="text/html" id="detail-page-template">
        <div class="commom-box">
            <img src="{{imagePath}}" alt="">
            <div class="right-box">
                <p class="name">{{name}}</p>
                <p class="type-box"><span>类型：</span><span>{{type}}</span></p>
                <p class="price-box"><span class="text">价格：</span><span class="price">￥{{price}}</span></p>
            </div>
        </div>
        <div class="introduce-box">
            <div class="title">
               <img src="../images/title.png" alt="">
                <span>产品介绍</span>
            </div>
            <div class="text">{{introduce}}</div>
        </div>
    </script>
</div>
</body>
<script src="../vendor/zepto/zepto.min.js"></script>
<script src="../vendor/template/template.js"></script>
<script src="../vendor/page/page.js"></script>
<script src="../js/common.js"></script>
<script src="../js/detail.js"></script>
</html>